# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/misc.xml
/inspectionProfiles/profiles_settings.xml
/sathub_ai.iml
/vcs.xml
README.txt
# Ignore Python cache files
__pycache__/
*.pyc

# Ignore IDE-specific files
.idea/

