sentinelhub~=3.11.1
PyQt5~=5.15.11
numpy~=2.1.2
rasterio~=1.4.1
planetary-computer~=1.0.0
matplotlib~=3.9.2
requests~=2.32.3
rioxarray~=0.18.1
stackstac~=0.5.1
geopandas~=1.0.1
pandas~=2.2.3
scipy~=1.14.1
shapely~=2.0.6
joblib~=1.4.2
scikit-learn~=1.6.1
